@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body,
html,
main,
.__next {
  overflow-y: hidden;
}

li {
  overflow-y: hidden;
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 100vh;
  }
}
